<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunny.bugmanage.org.mapper.OrganizationUserMapper">
    <resultMap id="BaseResultMap" type="com.sunny.bugmanage.org.model.OrganizationUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="org_uuid" property="orgUuid" jdbcType="VARCHAR"/>
        <result column="user_uuid" property="userUuid" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="TINYINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, org_uuid, user_uuid, role, name, status, position, creator, create_time, modifier, 
    modify_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from organization_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from organization_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.sunny.bugmanage.org.model.OrganizationUser">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into organization_user (org_uuid, user_uuid, role,
        name, status, position,
        creator, create_time, modifier,
        modify_time)
        values (#{orgUuid,jdbcType=VARCHAR}, #{userUuid,jdbcType=VARCHAR}, #{role,jdbcType=TINYINT},
        #{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{position,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
        #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.sunny.bugmanage.org.model.OrganizationUser">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into organization_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgUuid != null">
                org_uuid,
            </if>
            <if test="userUuid != null">
                user_uuid,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgUuid != null">
                #{orgUuid,jdbcType=VARCHAR},
            </if>
            <if test="userUuid != null">
                #{userUuid,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sunny.bugmanage.org.model.OrganizationUser">
        update organization_user
        <set>
            <!--<if test="orgUuid != null">
                org_uuid = #{orgUuid,jdbcType=VARCHAR},
            </if>
            <if test="userUuid != null">
                user_uuid = #{userUuid,jdbcType=VARCHAR},
            </if>-->
            <if test="role != null">
                role = #{role,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=VARCHAR},
            </if>
            <!--<if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>-->
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunny.bugmanage.org.model.OrganizationUser">
    update organization_user
    set org_uuid = #{orgUuid,jdbcType=VARCHAR},
      user_uuid = #{userUuid,jdbcType=VARCHAR},
      role = #{role,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      position = #{position,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <!--组织用户扩展类-->
    <resultMap id="OrgUserVo" extends="BaseResultMap" type="com.sunny.bugmanage.org.model.vo.OrganizationUserVo">
        <result column="icon_url" property="iconUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <!--根据组织uuid和用户uuid获取组织成员-->
    <select id="selectOrganizationUserByUserUuId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from organization_user
        where org_uuid=#{orgUuid,jdbcType=VARCHAR}
        and user_uuid=#{userUuid,jdbcType=VARCHAR}
        and status &lt;=120
    </select>
    <!--根据组织uuid修改组织成员状态-->
    <update id="updateOrgUserByOrgUUId" parameterType="com.sunny.bugmanage.org.model.OrganizationUser">
        update organization_user
        <set>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        where org_uuid = #{orgUuid,jdbcType=BIGINT}
    </update>
    <!--根据组织uuid查看组织成员-->
    <select id="selectOrgUserByOrgUUId" parameterType="com.sunny.bugmanage.org.form.OrgUserForm" resultMap="OrgUserVo">
        select
        a.id,
        a.org_uuid,
        a.user_uuid,
        a.role,
        a.name,
        a.position,
        b.icon_url
        from
        organization_user a left join app_user_extend b on
        a.user_uuid = b.user_uuid
        where a.org_uuid=#{orgUuid,jdbcType=BIGINT}
        and a.status &lt;=120
        <if test="key!='' and key!=null">
            <choose>
                <when test="funzzy == true">
                    AND b.user_name LIKE CONCAT('%',#{key,jdbcType=VARCHAR,javaType=java.lang.String},'%')
                </when>
                <otherwise>
                    AND b.user_name =#{key,jdbcType=VARCHAR,javaType=java.lang.String}
                </otherwise>
            </choose>
        </if>
        order by a.id desc
        LIMIT #{pageNum},#{pageSize}
    </select>
    <!--根据组织uuid统计用户人员-->
    <select id="selectOrgUserCountByOrgUuId" resultType="java.lang.Integer">
         SELECT
          COUNT(1)
         FROM
           organization_user
          WHERE org_uuid= #{orgUuid,jdbcType=BIGINT}
          AND status &lt;=120
    </select>

    <!--根据id和userUuid获取人员角色-->
    <select id="selectRoleByIdAndUserUuId" resultType="java.lang.Byte">
        SELECT
          IF(count(role)=0,0,role) role
        FROM
          organization_user
        where id=#{id,jdbcType=BIGINT}
        AND user_uuid=#{userUuid,jdbcType=VARCHAR}
        AND status &lt;=120
    </select>
</mapper>
